<form method="post" action="{{ path('app_robot_delete', {'id': robot.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ robot.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
