{% extends 'base.html.twig' %}

{% block title %}Edit Robot{% endblock %}

{% block body %}
    <h1>Edit Robot</h1>

    {{ include('robot/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('robot/_delete_form.html.twig') }}

    <a href="{{ path('app_robot_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
