{% extends 'base.html.twig' %}

{% block title %}FIGHT{% endblock %}

{% block body %}
    <h1>The winner is:</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{{ asset('images/3398643.png') }}">
                    <div class="card-body">
                        <p class="card-text">{{ robot.name }}</p>
                        <p class="card-text">{{ robot.power }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{ robot.type }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('app_robot_index') }}">back to list</a>

{% endblock %}
