{% extends 'base.html.twig' %}

{% block title %}Robot index{% endblock %}

{% block body %}
    <h1>Robot index</h1>


    <form action="{{ path('app_robot_fight') }}" name="checkboxes" method="get">
        <a href="{{ path('app_robot_new') }}" class="btn btn-primary">Create new</a>
        <button type="submit" value="submit" class="btn btn-danger" title="Select two robots and send them to FIGHT!">FIGHT!!!</button>


        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Power</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>

            {% for robot in robots %}
                <tr>
                    <td>
                        <input type="checkbox" name="selectedRobots[]" value="{{ robot.id }}"
                               class="selectedRobotsCheckbox">
                    </td>
                    <td>{{ robot.name }}</td>
                    <td>{{ robot.power }}</td>
                    <td>
                        <a href="{{ path('app_robot_show', {'id': robot.id}) }}" class="btn btn-info">show</a>
                        <a href="{{ path('app_robot_edit', {'id': robot.id}) }}" class="btn btn-danger">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </form>


    <script type="text/javascript">
        $(document).ready(function () {
            $('.selectedRobotsCheckbox').click(function () {
                $('.selectedRobotsCheckbox').not(this).not($('.selectedRobotsCheckbox:checked').first()).prop('checked', false);
            });
        });
    </script>

{% endblock %}
