{% extends 'base.html.twig' %}

{% block title %}Robot{% endblock %}

{% block body %}
    <h1>Robot</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ robot.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ robot.name }}</td>
            </tr>
            <tr>
                <th>Power</th>
                <td>{{ robot.power }}</td>
            </tr>
        </tbody>
    </table>



    <a href="{{ path('app_robot_edit', {'id': robot.id}) }}" class="btn btn-danger">edit</a>

    {{ include('robot/_delete_form.html.twig') }}

    <a href="{{ path('app_robot_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
